
.forecast-title, .city{
  width: 100%;
  text-align: center;
  padding: 50px 0 20px;
  font-size: 35px;
}

span{
  font-weight: 700;
}

.city{
  font-size: 35px;
  padding: 10px;
}

.dayFrameBox{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}


.btn-box{
  width: 55%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-back{
  margin-top: 30px;
  font-size: 20px;
}