.descr-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-weight: 500;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.buttons button{
    background-color: inherit;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: .2s linear;
}
.buttons button:hover{
  transform: scale(1.1);
}

.forecast-descr, .descr-value{
    font-size: 20px;
}


.weather-table{
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto 20px;
    box-shadow: 2px  5px 5px 2px rgba(0,0,0,0.3);
}

.detail-forecast{
    width: 67%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.detail-city{
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
}

.second-page-wrapper .slick-next{
    right: 80px ;
}

.second-page-wrapper .slick-prev{
    left: 80px ;
}