*,
*::before,
*::after {box-sizing: border-box; font-weight: 500; margin: 0;padding: 0;border:0;}
body {font-size: 12px; background-color: #2d3543;  font-family: 'Red Hat Mono', monospace; font-weight: 500;min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none;}
img {max-width: 100%;display: block;}

:root {
    --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    --bg-color--card: #222831;

    --main-text-color: #ffffff;

    --main-border-radius: 25px;
    --secondary-border-radius: 15px;
}

body{
    width: 100%;

    color: var(--main-text-color);
}